.ace_editor {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-editor-scrollbar);
    border-radius: 6px;
  }
}
.ace_gutter {
  width: 40px !important;
  background: transparent !important;
  &-layer {
    margin-left: -12px;
  }
}
.ace_scroller {
  left: 40px !important;
  &.ace_scroll-left {
    box-shadow: none;
    border-left: 1px solid var(--color-border);
  }
}
