@mixin form-input-default() {
  color: var(--color-text);
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
  border: none;
  line-height: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid var(--color-contrast-low);
  font-size: var(--text-md);
  transition: border-color 0.3s;
  &:focus {
    transition: border-color 0.3s;
  }
  &::-webkit-input-placeholder {
    color: var(--color-contrast-low);
  }
}