[data-theme='light'] {
  .snippet-list-item--selected {
    background-color: var(--color-contrast-lower);
    &.focus {
      background-color: var(--color-primary);
      .title,
      .meta {
        color: #fff;
      }
    }
  }
}
[data-theme='dark'] {
  .snippet-list-item--selected {
    background-color: var(--color-contrast-lower);
    &.focus {
      background-color: var(--color-primary);
      .title,
      .meta {
        color: #fff;
      }
    }
    .title,
    .meta {
      color: #fff;
    }
  }
}
