:root {
  --sidebar-width: 180px;
  --snippets-list-width: 250px;
  --title-bar-height: 15px;
  --title-bar-height-offset: -5px;
  --menu-header: 80px;

  --spacing-unit: 4px;
  --spacing-xs: calc(var(--spacing-unit) * 2);
  --spacing-sm: calc(var(--spacing-unit) * 4);
  --spacing-md: calc(var(--spacing-unit) * 6);
  --spacing-lg: calc(var(--spacing-unit) * 8);
  --spacing-xl: calc(var(--spacing-unit) * 10);

  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-code: 'SF Mono', 'Consolas', Menlo, Monaco, "Courier New", monospace;

  --text-base-size: 10px;
  --text-xs: calc(var(--text-base-size) * 1);
  --text-sm: calc(var(--text-base-size) * 1.2);
  --text-md: calc(var(--text-base-size) * 1.4);
  --text-lg: calc(var(--text-base-size) * 1.8);
  --text-xl: calc(var(--text-base-size) * 2.4);
  --text-xxl: calc(var(--text-base-size) * 3.2);
  --text-xxxl: calc(var(--text-base-size) * 3.6);

  --color-primary: hsl(215, 93%, 52%);

  --color-bg: hsl(0, 0%, 100%);

  --color-contrast-lower: hsl(0, 0%, 97%);
  --color-contrast-lower-alt: hsl(0, 0%, 92%);
  --color-contrast-low: hsl(0, 0%, 85%);
  --color-contrast-low-alt: hsl(0, 0%, 80%);
  --color-contrast-medium: hsl(0, 0%, 50%);
  --color-contrast-high: hsl(0, 0%, 15%);
  --color-contrast-higher: hsl(0, 0%, 0%);

  --color-text: hsl(0, 0%, 0%);
  --color-text-2: hsl(0, 0%, 15%);
  --color-text-3: hsl(0, 0%, 50%);
  --color-text-4: hsl(0, 0%, 80%);
  --color-text-5: hsl(0, 0%, 85%);

  --color-border: var(--color-contrast-low);

  --color-button: var(--color-contrast-lower-alt);
  --color-button-hover: var(--color-contrast-low);
  --color-button-action: var(--color-contrast-medium);
  --color-button-action-hover: var(--color-contrast-lower-alt);

  --color-sidebar: var(--color-contrast-lower);
  --color-sidebar-item-selected: var(--color-contrast-low);
  --color-sidebar-icon: var(--color-text);
  --color-sidebar-icon-selected: #fff;

  --color-snippet-selected: hsl(0, 0%, 94%);
  --color-snippet-list: var(--color-bg);

  --color-editor-scrollbar: rgba(121, 121, 121, 0.4);

  --color-menu-selected: var(--color-contrast-lower-alt);
}

[data-theme='light:solarized'] {
  --color-primary: hsl(44, 84%, 54%);

  --color-bg: hsl(44, 87%, 94%);

  --color-contrast-lower: hsl(44, 84%, 90%);
  --color-contrast-lower-alt: hsl(44, 0%, 98%);
  --color-contrast-lower-alt2: hsl(44, 60%, 94%);
  --color-contrast-lower-alt3: hsl(44, 60%, 85%);
  --color-contrast-lower-alt4: hsl(44, 60%, 75%);
  --color-contrast-low: hsl(44, 60%, 60%);
  --color-contrast-low-alt: hsl(44, 60%, 70%);
  --color-contrast-medium: hsl(44, 60%, 40%);
  --color-contrast-high: hsl(44, 60%, 30%);
  --color-contrast-higher: hsl(44, 60%, 10%);

  --color-snippet-selected: var(--color-contrast-lower-alt2);

  --color-sidebar: #fff;
  --color-sidebar-item-selected: var(--color-contrast-lower-alt3);

  --color-border: var(--color-contrast-lower-alt3);

  --color-button: hsl(44, 60%, 85%);
  --color-button-hover: var(--color-contrast-low-alt);
  --color-button-action-hover: var(--color-contrast-lower-alt3); 
  
  --color-checkbox: var(--color-contrast-lower-alt);

  --color-input: var(--color-contrast-lower-alt);

  --color-select: var(--color-contrast-lower-alt);

  --color-menu-selected: var(--color-contrast-lower-alt3);
}

[data-theme='dark:one'] {
  --color-primary: hsl(215, 69%, 45%);
  
  --color-bg: hsl(220, 13%, 18%);

  --color-contrast-lower: hsl(220, 13%, 20%);
  --color-contrast-lower-alt: hsl(220, 13%, 22%);
  --color-contrast-lower-alt2: hsl(220, 13%, 25%);
  --color-contrast-lower-alt3: hsl(220, 13%, 30%);
  --color-contrast-lower-low: hsl(220, 13%, 40%);
  --color-contrast-medium: hsl(220, 13%, 50%);
  
  --color-border: var(--color-contrast-lower-alt2);
  
  --color-snippet-list: var(--color-bg);
  --color-snippet-selected: var(--color-contrast-lower-alt);
  
  --color-sidebar: var(--color-bg);
  --color-sidebar-item-selected: var(--color-contrast-lower-alt);
  --color-sidebar-icon: var(--color-text);

  --color-text: hsl(0, 0%, 70%);

  --color-button: var(--color-contrast-lower-alt);
  --color-button-hover: var(--color-contrast-lower-alt2);
  --color-button-action: var(--color-contrast-low); 
  --color-button-action-hover: var(--color-contrast-lower-alt2); 

  --color-input: var(--color-bg);

  --color-menu-selected: var(--color-contrast-lower-alt);
}

[data-theme='dark:dracula'] {
  --color-primary: hsl(215, 69%, 45%);

  --color-bg: hsl(231, 15%, 18%);

  --color-contrast-lower: hsl(231, 15%, 20%);
  --color-contrast-lower-alt: hsl(231, 15%, 22%);
  --color-contrast-lower-alt2: hsl(231, 15%, 25%);

  --color-snippet-list: var(--color-bg);
  --color-snippet-selected: var(--color-contrast-lower-alt);

  --color-sidebar: var(--color-bg);
  --color-sidebar-item-selected: var(--color-contrast-lower-alt);
  --color-sidebar-icon: var(--color-text);

  --color-border: var(--color-contrast-lower-alt2);

  --color-text: hsl(0, 0%, 70%);

  --color-button: var(--color-contrast-lower-alt);
  --color-button-hover: var(--color-contrast-lower-alt2);
  --color-button-action: var(--color-contrast-low); 
  --color-button-action-hover: var(--color-contrast-lower-alt2);

  --color-input: var(--color-bg);

  --color-menu-selected: var(--color-contrast-lower-alt);
}

[data-theme='dark:monokai'] {
  --color-primary: hsl(215, 69%, 45%);

  --color-bg: hsl(70, 8%, 15%);

  --color-contrast-lower: hsl(70, 8%, 20%);
  --color-contrast-lower-alt: hsl(70, 8%, 22%);
  --color-contrast-lower-alt2: hsl(70, 8%, 25%);

  --color-snippet-list: var(--color-bg);
  --color-snippet-selected: var(--color-contrast-lower-alt);

  --color-sidebar: var(--color-bg);
  --color-sidebar-item-selected: var(--color-contrast-lower-alt);
  --color-sidebar-icon: var(--color-text);

  --color-border: var(--color-contrast-lower-alt2);

  --color-text: hsl(0, 0%, 70%);

  --color-button: var(--color-contrast-lower-alt);
  --color-button-hover: var(--color-contrast-lower-alt2);
  --color-button-action: var(--color-contrast-low); 
  --color-button-action-hover: var(--color-contrast-lower-alt2);

  --color-input: var(--color-bg);

  --color-menu-selected: var(--color-contrast-lower-alt);
}

[data-theme='dark:merbivore'] {
  --color-primary: hsl(215, 69%, 45%);

  --color-bg: hsl(0, 0%, 11%);

  --color-contrast-lower: hsl(0, 0%, 20%);
  --color-contrast-lower-alt: hsl(0, 0%, 22%);
  --color-contrast-lower-alt2: hsl(0, 0%, 25%);

  --color-snippet-list: var(--color-bg);
  --color-snippet-selected: var(--color-contrast-lower-alt);

  --color-sidebar: var(--color-bg);
  --color-sidebar-item-selected: var(--color-contrast-lower-alt);
  --color-sidebar-icon: var(--color-text);

  --color-border: var(--color-contrast-lower-alt2);

  --color-text: hsl(0, 0%, 70%);

  --color-button: var(--color-contrast-lower-alt);
  --color-button-hover: var(--color-contrast-lower-alt2);
  --color-button-action: var(--color-contrast-low); 
  --color-button-action-hover: var(--color-contrast-lower-alt2);

  --color-input: var(--color-bg);

  --color-menu-selected: var(--color-contrast-lower-alt);
}